# Virtual environments
.venv/
venv/
env/

# Playwright browsers
playwright/.local-browsers/

# Test reports and screenshots
reports/
screenshots/

# Pytest cache
.pytest_cache/

# Environment files
.env
.envrc

# IDEs
.idea/
.vscode/

# Caches
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
